# Google OAuth Credentials
# Obtén tus credenciales en: https://console.cloud.google.com/
GOOGLE_CLIENT_ID=tu_client_id_aqui.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-tu_client_secret_aqui